# Broadband Data Cleanup.
### Downloaded 2017 MN Fixed internet rates from FCC, removed unnecessary columns to make the file smaller and easier with which to work, grouped by blockcode, and found max and mean speeds for each blockcode.

(Kate Mikkelson)

In [17]:
import pandas as pd
import csv

In [10]:
file = "Resources/MN-Fixed-Dec2017-v2.csv"

In [11]:
mn_broadband = pd.read_csv(file)
mn_broadband.head()

,LogRecNo,Provider_Id,FRN,ProviderName,DBAName,HoldingCompanyName,HocoNum,HocoFinal,StateAbbr,BlockCode,TechCode,Consumer,MaxAdDown,MaxAdUp,Business,MaxCIRDown,MaxCIRUp
0,18268,34062,15093073,"A Better Wireless, NISP, LLC","A Better Wireless, NISP, LLC","A Better Wireless, NISP, LLC",290005,"A Better Wireless, NISP, LLC",MN,271119606002066,70,1,1000.0,1000.0,1,1000.0,1000.0
1,18269,34062,15093073,"A Better Wireless, NISP, LLC","A Better Wireless, NISP, LLC","A Better Wireless, NISP, LLC",290005,"A Better Wireless, NISP, LLC",MN,271119606002068,70,1,1000.0,1000.0,1,1000.0,1000.0
2,18270,34062,15093073,"A Better Wireless, NISP, LLC","A Better Wireless, NISP, LLC","A Better Wireless, NISP, LLC",290005,"A Better Wireless, NISP, LLC",MN,271119606002069,70,1,1000.0,1000.0,1,1000.0,1000.0
3,18271,34062,15093073,"A Better Wireless, NISP, LLC","A Better Wireless, NISP, LLC","A Better Wireless, NISP, LLC",290005,"A Better Wireless, NISP, LLC",MN,271119606002070,70,1,1000.0,1000.0,1,1000.0,1000.0
4,18272,34062,15093073,"A Better Wireless, NISP, LLC","A Better Wireless, NISP, LLC","A Better Wireless, NISP, LLC",290005,"A Better Wireless, NISP, LLC",MN,271119606002071,70,1,1000.0,1000.0,1,1000.0,1000.0

In [12]:
# Clean up dataframe, remove unnecessary columns

mn_broadband = mn_broadband.drop(["LogRecNo", "Provider_Id", "FRN", "ProviderName", "DBAName", "HoldingCompanyName", 
                                 "HocoFinal", "HocoNum", "StateAbbr", "TechCode", "Consumer", "Business", "MaxAdUp", "MaxCIRDown", "MaxCIRUp"], axis=1)
mn_broadband.head()

         BlockCode  MaxAdDown
0  271119606002066     1000.0
1  271119606002068     1000.0
2  271119606002069     1000.0
3  271119606002070     1000.0
4  271119606002071     1000.0

In [14]:
# Rename BlockCode to match grad rate data
mn_broadband = mn_broadband.rename(columns={'BlockCode':'BLOCK'})
mn_broadband.head()

             BLOCK  MaxAdDown
0  271119606002066     1000.0
1  271119606002068     1000.0
2  271119606002069     1000.0
3  271119606002070     1000.0
4  271119606002071     1000.0

In [16]:
# Combine by census block, get max and mean speed for each census block

bycode = mn_broadband.groupby('BLOCK')
bycode.head()

sorted_df = mn_broadband.sort_values("BLOCK")
sorted_df.head()

bc_max_down = bycode["MaxAdDown"].max()
bc_mean_down = bycode["MaxAdDown"].mean()

# Create new dataframe from results
broadband_stats = pd.DataFrame({"Max Down":bc_max_down, "Mean Down":bc_mean_down})

# Save to CSV
broadband_stats.to_csv('Resources/mn_broadband_stats.csv')
broadband_stats.head()

                 Max Down  Mean Down
BLOCK
270017701001000      30.0      14.25
270017701001001      30.0      14.25
270017701001002      30.0      14.25
270017701001003      30.0      14.25
270017701001004      30.0      14.25